extends ../layouts/default

include ../mixins/sensornode
block content
	.page-header
		h1 Device
	.row
		.col-sm-6
			if sensornodes.results.length
				if sensornodes.totalPages > 1
					.lead.text-muted Showing 
						strong #{sensornodes.first}
						|  to 
						strong #{sensornodes.last}
						|  of 
						strong #{sensornodes.total}
						|  sensornodes
				else
					.lead.text-muted Showing #{utils.plural(sensornodes.results.length, '* sensornode')}
				.blog
					each sensornode in sensornodes.results
						+sensornode(sensornode)
				if sensornodes.totalPages > 1
					ul.pagination
						if sensornodes.previous
							li: a(href='?page=' + sensornodes.previous): span.glyphicon.glyphicon-chevron-left
						else
							li.disabled: a(href='?page=' + 1): span.glyphicon.glyphicon-chevron-left
						each p, i in sensornodes.pages
							li(class=sensornodes.currentPage === p ? 'active' : null)
								a(href='?page=' + (p === '...' ? (i ? sensornodes.totalPages : 1) : p ))= p
						if sensornodes.next
							li: a(href='?page=' + sensornodes.next): span.glyphicon.glyphicon-chevron-right
						else
							li.disabled: a(href='?page=' + sensornodes.totalPages): span.glyphicon.glyphicon-chevron-right

		.col-sm-6